<div id="templatemo_content_left">
    <div class="templatemo_content_left_section">
        <h1>Categories</h1>
        <ul>
            <li><a href="index.html">Donec accumsan urna</a></li>
            <li><a href="index.html">Proin vulputate justo</a></li>
            <li><a href="#">In sed risus ac feli</a></li>
            <li><a href="#">Aliquam tristique dolor</a></li>
            <li><a href="#">Maece nas metus</a></li>
            <li><a href="#">Sed pellentesque placerat</a></li>
            <li><a href="#">Suspen disse</a></li>
            <li><a href="#">Maece nas metus</a></li>
            <li><a href="#">In sed risus ac feli</a></li>
        </ul>
    </div>
    <div class="templatemo_content_left_section">
        <h1>Bestsellers</h1>
        <ul>
            <li><a href="#">Vestibulum ullamcorper</a></li>
            <li><a href="#">Maece nas metus</a></li>
            <li><a href="#">In sed risus ac feli</a></li>
            <li><a href="#">Praesent mattis varius</a></li>
            <li><a href="#">Maece nas metus</a></li>
            <li><a href="#">In sed risus ac feli</a></li>
            <li><a href="http://www.flashmo.com" target="_parent">Flash Templates</a></li>
            <li><a href="http://www.templatemo.com" target="_parent">CSS Templates</a></li>
            <li><a href="http://www.webdesignmo.com" target="_parent">Web Design</a></li>
            <li><a href="http://www.photovaco.com" target="_parent">Free Photos</a></li>
        </ul>
    </div>

</div>